header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container_header {
  background-color: #fcdc36;
  display: flex;
  height: 52px;
  justify-content: space-around;
}

button {
  background-color: transparent;
  border: none;
}
