.carrousel {
  display: flex;
  overflow-x: scroll;
  width: 150px;
}

.carousel__item {
  flex: 0 0 auto;
  width: 150px; /* Ajuste conforme necessário */
  margin-right: 10px; /* Espaçamento entre os itens */
}

.img__carrousel {
  width: 100px;
  aspect-ratio: 1;
}
